.main-profile{
    margin-top: 60px;
    .content-profile{
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-gap: 30px;
    }
}
section{
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav, .profile{
    background: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: @box-shadow-1
}
.nav{
    &__options{
        &-item{
            padding: 20px 0;
            cursor: pointer;
            .text(1.8rem, inherit, 2rem, @black-cl, inherit);
            a{
                position: relative;
                .hover-button-1(@color-default, 2px);
                &::before{
                    bottom: -6px;
                }
            }
            .nuxt-link-active{
                &::before{
                    transform: scaleX(1);
                }
            }
        }
    }
}
.profile{
    &__user{
        display: flex;
        &-avatar{
            width: 120px;
            height: 120px;
            overflow: hidden;
            position: relative;
            border-radius: 50%;
            img{
                object-fit: cover;
                .pos-middle;
            }
        }
        &-name{
            margin-left: 30px;
            .flex-align(center);
            .text(2.5rem, inherit, 4rem, @black-cl, inherit);
        }
    }
    &__info{
        margin-top: 30px;
        &-item{
            margin-bottom: 20px;
            .flex-align(center);
            .title{
                width: 20%;
            }
            .info{
                width: 60%;
            }
            &.button{
                .flex-justify(center);
                button{
                    margin: 0 10px;
                }
            }
        }
    }
}
