// group css

.main-wrapper.group{
    .content{
        padding-top: 20px;
    }
}
.group{
    &__left{
        border: 1px solid @cl-border-1;
        background: #fff;
        border-radius: 6px;
        width: 400px;
        position: fixed;
        padding: 20px;
        &-title{
            font-weight: 600;
            position: relative;
            .text(18px, inherit, 20px, @text-black, initial);
            &.detail-title{
                display: flex;
                align-items: center;
            }
            .avatar{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                img{
                    object-fit: cover;
                    .mid-pos();
                }
            }
            .name{
                margin-left: 10px;
            }
            .control{
                position: absolute;
                right: 0;
                height: 100%;
                cursor: pointer;
                .flex(center, center);
                span{
                    height: 4px;
                    width: 4px;
                    background: #050505;
                    border-radius: 50%;
                    margin-right: 4px;
                }
            }
            .dropmore{
                position: absolute;
                right: 0;
                bottom: -30px;
                background: #fff;
                padding: 10px;
                border-radius: 4px;
                box-shadow: @shadow-3;
                transition: @t @cubic;
                transform: translateY(10px);
                .hidden();
                &__item{
                    cursor: pointer;
                    .flex-align(center);
                    .icon{
                        height: 20px;
                        width: 20px;
                        margin-right: 10px;
                        flex-shrink: 0;
                    }
                }
                &.active{
                    transform: translateY(0);
                    transition: @t @cubic;
                    .visible();
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 10px;
                    right: 5px;
                    top: -10px;
                    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                    background: #fff;
                }
            }
            &::before{
                content: '';
                position: absolute;
                bottom: -20px;
                left: 0;
                width: 100%;
                height: 1px;
                background: @cl-border-1;
            }
            
        }
        .groups{
            margin-top: 30px;
            &__item{
                display: flex;
                align-items: center;
                padding: 10px;
                padding-left: 20px;
                cursor: pointer;
                transition: @t @cubic;
                &:hover{
                    background: #efefef;
                    transition: @t @cubic;
                }
                &-img{
                    height: 50px;
                    width: 50px;
                    overflow: hidden;
                    border-radius: 50%;
                    position: relative;
                    flex-shrink: 0;
                    img{
                        object-fit: cover;
                        .mid-pos();
                    }
                }
                &-info{
                    margin-left: 10px;
                    .name{
                        font-size: 16px;
                        font-weight: 600;
                        color: @text-black;
                        .dot-para-text(1);
                    }
                }
            }
        }
        &-info{
            margin-top: 30px;
            font-size: 16px;
            color: @text-black;
            .title{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 20px;
            }
        }

    }
    &__right{
        width: 650px;
        margin: auto;
        margin-right: 100px;
        .posts__item{
            border-radius: 6px;
        }
        &-post{
            display: flex;
            align-items: center;
            box-shadow: @shadow-4;
            padding: 10px;
            border-radius: 6px;
            background: #fff;
            .avatar{
                height: 50px;
                width: 50px;
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;
                img{
                    object-fit: cover;
                    .mid-pos();
                }
            }
            .post-box{
                padding: 10px 20px;
                width: 100%;
                border-radius: 20px;
                background: #f0f2f5;
                cursor: pointer;
            }
        }
        .listgroup{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            &__item{
                box-shadow: @shadow-2;
                &-img{
                    width: 100%;
                    height: 220px;
                    position: relative;
                    img{
                        object-fit: cover;
                        .mid-pos();
                    }
                }
                &-info{
                    padding: 10px;
                    font-size: 16px;
                    color: @text-black;
                    .name{
                        font-size: 22px;
                        font-weight: 600;
                        .dot-para-text(3);
                    }
                    .btn-join{
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }
}

// change w container
// @media (min-width: 1200px){
//     .main-wrapper.group{
//         .container{
//             max-width: 960px;
//         }
//     }
// }

