.banner__home{
    width: 100%;
    position: relative;
    img{
        width: 100%;
    }
    .text__welcome{
        position: absolute;
        top: calc(50% - 1rem);
        left: 0;
        text-align: center;
        width: 100%;
        font-size: 3rem;
        color: @color-text-black;
    }
}