//login styles
a{
    color: @color-default;
}

.auth{
    margin-top: initial;
    width: 100vw;
    height: 100vh;
}

.login__main-wrapper{
    h3{
        font-size: 24px;
        padding-bottom: 2rem;
    }
    .form__control{
        max-width: 400px;
        width: 100%;
        position: absolute;
        padding: 20px;
        border-radius: 10px;
        box-shadow: @shadow-1;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        .or__register{
            display: flex;
            justify-content: center;
            a{
                padding: 0 0.5rem;
            }
        }
        .ant-form-item-label{
            line-height: 1;
        }
        .login-form-forgot{
            float: right;
        }
        .login-form-button{
            width: 100%;
        }
    }
    
}

.bg__login{
    // background: @color-default;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    &-img{
        position: absolute;
        width: calc(145% + 1.3px);
        height: 450px;
        bottom: 0;
        left: 0;
        transform: rotateY(180deg);
        color: #fff;
    }
}

.register__main-wrapper{
    width: 50%;
    h3{
        font-size: 24px;
        padding-bottom: 2rem;
    }
    .form__control{
        padding: 10% 24%;
        .or__register{
            display: flex;
            justify-content: center;
            a{
                padding: 0 0.5rem;
            }
        }
       
       
        .ant-form-item{
            margin-bottom: 16px;
        }
    }
}

//responsive
.desktop({
    .auth{
        .form__control{
            left: 50%;
            max-width: 600px;
        }
    }
});
.tablet({
    .auth{
        .bg__login{
            &-img{
                height: 300px
            }
        }
    }
});
.mobile-large({
    .auth{
        .form__control{
            box-shadow: initial;
        }
        .bg__login{
            display: none;
        }
    }
});