// main page
.main-wrapper{
    &.main{
        .main-post{
            width: 650px;
        }
    }
    .back-top{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: @color-default;
        position: fixed;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
        display: grid;
        place-items: center;
        i{
            width: 20px;
            height: 20px;
            svg{
                width: 100%;
                height: 100%;
                fill: #fff;
            }
        }
    }
}

// change w container
@media (min-width: 1200px){
    .main-wrapper.main{
        .container{
            max-width: 960px;
        }
    }
}