.container.user{
    position: relative;
    height: @user-card-h;
    .user__card{
        width: 70%;
        border-radius: @border-radius;
        position: absolute;
        box-shadow: @box-shadow-1;
        background: #fff;
        bottom: -20px;
        z-index: 10;
        padding: 20px;
        &-info{
            display: flex;
        }
        &-avatar{
            height: 120px;
            width: 120px;
            overflow: hidden;
            border-radius: 50%;
        }
        &-text{
            margin-left: 20px;
            flex: 1;
            .name{
                font-weight: 600;
                .text(2.5rem, inherit, 3rem, @text-black, inherit);
            }
            .school-year{
                font-size: 1.6rem;
            }
            div{
                padding: 10px 0;
            }
        }
        &-connect{
            padding: 20px 0;
            .flex-justify(space-around);
        }
    }
    .user__bg{
        position: absolute;
        left: 0;
        width: 100%;
        height: @user-card-h - 40px;
        overflow: hidden;
        border-radius: @border-radius;
        &-img{
            width: 100%;
            height: 100%;
            position: relative;
            img{
                object-fit: cover;
                .mid-pos;
            }
        }
    }
}
.mr-top{
    margin-top: 40px;
}

.main-profile{
    .container{
        background: #fff;
        border-radius: @border-radius;
        box-shadow: @box-shadow-1;
    }
    .nav{
        border-radius: @border-radius;
        box-shadow: @box-shadow-1;
        &__options{
            .flex-justify(center);
            &-item{
                padding: 20px 0;
                margin: 0 20px;
                cursor: pointer;
                .text(1.8rem, inherit, 2rem, @black-cl, inherit);
                a{
                    position: relative;
                    font-size: 16px;
                    line-height: 20px;
                    .hover-button-1(@color-default, 2px);
                    &::before{
                        bottom: -6px;
                    }
                }
                .nuxt-link-active{
                    &::before{
                        transform: scaleX(1);
                        transition: @t @cubic;
                        transform-origin: center right;
                    }
                }
            }
        }
    }
}
