html {
    box-sizing: border-box;
    font-size: 10px;
}

body{
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
}
    
ol, ul {
    list-style: none;
}

img{
    vertical-align: middle;
}

*, *::before,*::after{
    box-sizing: inherit;
}

button {
    cursor: pointer;
}

.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1, h2, h3, h4, h5,
span,
input,
nav,
ol, ul, li,
p,
a,
option, section, svg{
   padding: 0; 
   margin: 0;
}
