
//Header styles
header{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: @t @cubic;
    width: 100%;
    .container-fluid{
        height: 100%;
        background: @color-default;
        display: flex;
    }
    .logo{
        width: 30%;
    }
    .search__bar{
        width: 30%;
        .flex-align(center);
        input{
            border-radius: 2rem;
        }
    }
    .nav__right{
        width: 40%;
        display: flex;
        &-list{
            height: 100%;
            width: 50%;
            padding: 0 5rem;
            .flex-align(center);
        }
        &-user{
            .flex-align(center);
        }
        .list__item{
            a{
                color: @text-white;
                font-size: 3rem;
                padding: 0 1rem;
            }
        }
    }
}
.ant-dropdown-menu-item{
    .icon{
        margin-right: 8px;
    }
}

